@model Web.MVC.Areas.Admin.Models.ProductViewModel
@{
    ViewBag.Title = "Add";
}

<h2>Thêm sản phẩm mới</h2>

@using (Html.BeginForm("Add","Product",FormMethod.Post,new {enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row mb-2">
        @Html.LabelFor(x => x.Name, new { @class = "col-form-label col-2" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger my-3" })
        </div>
    </div>

    <div class="row mb-2">
        @Html.LabelFor(x => x.Price, new { @class = "col-form-label col-2" })
        <div class="col-4">
            @Html.EditorFor(x => x.Price,
                new { htmlAttributes = new { @class = "form-control", type = "number", min = "0", step = "0.01", value = "0" } })
            @Html.ValidationMessageFor(x => x.Price, "", new { @class = "text-danger my-3" })
        </div>
    </div>
    <div class="row mb-2">
        @Html.LabelFor(x => x.ImageUrl, new { @class = "col-form-label col-2" })
        <div class="col-4">
            @Html.EditorFor(x => x.ImageUrl,
                new { htmlAttributes = new { @class = "form-control", type = "file", min = "0", step = "0.01", value = "0" } })
        </div>
    </div>

    <div class="row mb-2">
        @Html.LabelFor(x => x.Discount, new { @class = "col-form-label col-2" })
        <div class="col-4">
            @Html.EditorFor(x => x.Discount, new { htmlAttributes = new { @class = "form-control", min = "0", step = "1", value = "0" } })
            @Html.ValidationMessageFor(x => x.Discount, "", new { @class = "text-danger my-3" })
        </div>
    </div>

    <div class="row mb-2">
        @Html.LabelFor(x => x.Quantity, new { @class = "col-form-label col-2" })
        <div class="col-4">
            @Html.EditorFor(x => x.Quantity, new { htmlAttributes = new { @class = "form-control", min = "0", step = "1", value = "0" } })
            @Html.ValidationMessageFor(x => x.Quantity, "", new { @class = "text-danger my-3" })
        </div>
    </div>

    <div class="row mb-2">
        @Html.LabelFor(x => x.Rate, new { @class = "col-form-label col-2" })
        <div class="col-4">
            @Html.EditorFor(x => x.Rate, new { htmlAttributes = new { @class = "form-control", min = "0", step = "1", value = "0" } })
            @Html.ValidationMessageFor(x => x.Rate, "", new { @class = "text-danger my-3" })
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">
            <button class="btn btn-primary">Thêm mới</button>
        </div>
    </div>
}
